article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

header {
  width: 90%; }

footer {
  background: dodgerblue; }

body {
  width: 100%;
  max-width: 1920px;
  font-family: 'Raleway', sans-serif; }

.wrapper {
  width: 80%;
  margin: 0 auto; }

.top-bar {
  background: black;
  padding: 15px 0; }

.top-bar-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.top-bar-inner > div {
  width: 33.33%; }

.top-bar-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.top-bar-left i {
  color: #86bc42;
  font-size: 12px; }

.top-bar-left span {
  color: white;
  margin: 0 5px;
  font-weight: 300;
  font-size: 12px;
  padding-left: 5px;
  font-family: 'Montserrat', sans-serif; }

.top-bar-left .fa-phone {
  margin-right: 20px; }

.top-bar-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.top-bar-right div {
  padding: 0 15px; }

.top-bar-right div:first-of-type {
  border-right: 1px solid white; }

.top-bar-right a {
  text-decoration: none;
  color: white;
  font-size: 12px;
  font-weight: 300; }

.top-nav {
  width: 40%;
  margin: 0 auto; }
  .top-nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style-type: none;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0; }
    .top-nav ul li a {
      text-decoration: none;
      color: black;
      font-size: 14px;
      font-weight: 700; }
      .top-nav ul li a:hover {
        color: #86bc42; }
      .top-nav ul li a i {
        padding: 0 10px; }
        .top-nav ul li a i.fa-shopping-cart {
          color: #86bc42; }

.splash {
  background-image: url(../assets/amy-hirschi-457525.jpg);
  background-size: cover;
  padding: 140px 50px;
  width: 100%; }

.splash > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.splash-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin: 0 auto; }

.splash-inner h1 {
  font-weight: 900;
  font-size: 65px;
  color: #242c42;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 0; }

.splash-inner p {
  color: #242c42;
  font-size: 18px;
  text-align: center; }

.splash-inner button {
  background: #86bc42;
  border: none;
  padding: 10px 20px;
  -webkit-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in; }
  .splash-inner button a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 18px;
    font-weight: 700;
    -webkit-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in; }

.splash-inner button:hover {
  background: #242c42; }
  .splash-inner button:hover a {
    color: #86bc42; }

.titlebox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 50px auto 30px; }
  .titlebox h2 {
    margin: 0 0 20px;
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 700; }

.titlebox p {
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 400; }

.book-logo-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.book-logo-box img {
  width: 36px;
  height: 29px;
  margin: 0 10px; }

.line {
  height: 2px;
  width: 30px;
  background: #86bc42; }

.courses > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.courses-nav {
  margin: 0 auto 30px; }
  .courses-nav ul {
    list-style-type: none;
    padding: 0; }
    .courses-nav ul li {
      display: inline-block; }
      .courses-nav ul li a {
        font-size: 14px;
        font-weight: 300;
        margin-right: 15px;
        text-decoration: none;
        color: black; }
        .courses-nav ul li a:hover {
          color: #86bc42; }

.courses-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.gallery-card {
  margin-right: 20px;
  margin-bottom: 20px;
  width: calc((100% - 60px) / 4);
  height: 380px;
  border: 1px solid #e1e1e1;
  position: relative; }
  .gallery-card h3 {
    font-size: 17px;
    font-weight: 700;
    margin-top: 8px;
    padding: 0 10px; }

.gallery-card p {
  font-size: 14px;
  margin-bottom: 0;
  padding-top: 15px; }

.gallery-card a {
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  font-size: 12px;
  color: #86bc42; }

.gallery-card:nth-of-type(4n) {
  margin-right: 0; }

.gallery-card img {
  width: 100%; }

.instructor img {
  width: 100%; }

.instructor {
  width: 25%;
  margin: 0 15px;
  background: #86bc42;
  border-radius: 50%;
  float: left; }

.courses-social {
  width: 100%;
  border-top: 1px solid #e1e1e1;
  padding: 20px;
  position: absolute;
  bottom: 0;
  left: 0; }
  .courses-social i {
    color: #666666;
    font-size: 14px;
    font-weight: 300; }
    .courses-social i span {
      margin-left: 5px; }

.courses-social .fa-comments {
  margin-left: 10px; }

.courses-social a {
  float: right;
  text-transform: none;
  display: block;
  font-size: 14px;
  font-weight: 500; }
  .courses-social a:hover {
    color: #666; }

.photo-gallery {
  width: 95%;
  margin: 0 auto;
  background-color: #f0f2f7;
  padding: 20px 0;
  margin-top: 50px; }

.photo-gallery-container {
  width: 95%;
  margin: 40px auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .photo-gallery-container div {
    width: calc((100% - 40px) / 3);
    margin-right: 20px;
    margin-bottom: 20px; }
    .photo-gallery-container div:nth-of-type(3n) {
      margin-right: 0; }

.photo-gallery-container img {
  width: 100%; }

.news-container {
  width: 95%;
  margin: 60px auto 0; }
  .news-container .news-slide {
    width: 100%;
    background-color: #f4f6fa;
    margin-bottom: 40px;
    padding: 0 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .news-container .news-slide div {
      width: calc((100% - 20px) / 2);
      margin-right: 20px; }
      .news-container .news-slide div:last-of-type {
        margin-right: 0; }
        .news-container .news-slide div:last-of-type i {
          font-size: 12px; }
          .news-container .news-slide div:last-of-type i:last-of-type {
            margin-left: 5px; }

.news-slide h3 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 0;
  margin-top: 40px; }

.news-slide img {
  width: 100%;
  margin-right: 20px;
  position: relative;
  bottom: 20px; }

.byline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0; }
  .byline p {
    font-size: 12px;
    font-weight: 300;
    display: block;
    padding-right: 5px;
    margin-bottom: 0; }
    .byline p:last-of-type {
      padding-left: 5px;
      border-left: 1px solid black; }

.news-body-text {
  font-size: 14px;
  color: #444;
  line-height: 1.5; }

.news-button {
  background: #86bc42;
  border: none;
  padding: 10px 20px;
  -webkit-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  margin-top: 75px; }
  .news-button a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 14px;
    font-weight: 700;
    -webkit-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in; }

.different {
  width: 100%;
  background-color: #f4f6fa;
  padding: 20px 0;
  padding-bottom: 75px;
  position: relative;
  z-index: -2; }

.different h4 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 0; }

.different ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-left: 60px;
  position: relative;
  margin: 0 auto; }

.different li {
  padding-right: 20px;
  margin-right: 20px;
  position: relative;
  list-style-type: none; }

.different li::before {
  width: 100px;
  height: 100px;
  position: absolute;
  left: -40px;
  top: 30px; }

.different li:nth-of-type(1)::before {
  content: url("../assets/lightbulb.svg"); }

.different li:nth-of-type(2)::before {
  content: url("../assets/test-tube.svg"); }

.different li:nth-of-type(3)::before {
  content: url("../assets/quality-badge.svg"); }

.white-circle {
  background-color: white;
  width: 180px;
  height: 180px;
  border-radius: 200px;
  position: absolute;
  top: -10px;
  left: -16%;
  z-index: -1; }

.pricing {
  width: 100%; }

.pricing-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 100px; }

.price-box {
  padding: 40px 5px 0px;
  background-color: #f0f2f7;
  margin-right: 20px;
  width: calc((100% - 40px) / 3);
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative; }
  .price-box:last-of-type {
    margin-right: 0; }

.price-box:hover {
  background: #86bc42;
  color: white;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  .price-box:hover .price-circle {
    background-color: #86bc42;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 1, 0.25);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 1, 0.25); }
    .price-box:hover .price-circle p, .price-box:hover .price-circle h4 {
      color: white;
      font-weight: 700; }

.price-box h3 {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 0; }

.price-box h4 {
  text-transform: uppercase;
  font-size: 14px; }

.price-box p {
  font-size: 14px;
  font-weight: 300;
  margin-top: 0; }

.price-circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 auto;
  width: 100px;
  height: 100px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: 10px solid white;
  border-radius: 200px;
  background-color: #f0f2f7;
  position: absolute;
  top: -70px;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  .price-circle p {
    padding-bottom: 20px;
    font-weight: 700; }

.price-circle h4 {
  font-size: 34px;
  font-weight: 700; }

.price-box-inner {
  background-color: white;
  width: 99%; }
  .price-box-inner p {
    color: black;
    margin: 25px auto; }

footer {
  width: 100%;
  background-color: #252525;
  margin-top: 75px;
  padding-top: 40px;
  padding-bottom: 40px;
  color: white;
  font-size: 14px; }
  footer i {
    color: #86bc42;
    margin-right: 10px;
    margin-top: 3px; }
    footer i p {
      margin-left: 10px;
      color: white; }

.footer-logo {
  width: 100px;
  margin-bottom: 30px; }

.left-foot p a {
  text-decoration: none;
  color: #86bc42;
  margin-right: 3px; }

.left-foot p {
  margin-top: 5px; }

.footer-container h5 {
  font-size: 20px;
  font-weight: 300;
  text-transform: uppercase;
  margin-top: 5px;
  margin-bottom: 20px; }

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .footer-container div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }

.footer-container > div {
  width: 22%; }

.footer-container p {
  display: inline-block;
  font-size: 14px; }

.footer-lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; }

.footer-container ul {
  list-style-type: none;
  padding: 0; }

.footer-container ul li {
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.footer-container ul li a {
  text-decoration: none;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: 300; }

.hidden-chevron li i {
  display: none;
  color: #86bc42; }

.footer-container ul li:hover i {
  display: inline; }

.footer-sub-list {
  float: right;
  line-height: 0.6; }

.footer-container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 30px 0; }

.footer-container form input {
  border: none;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 300;
  padding: 10px 25px;
  margin-right: 5px; }

.footer-container form button {
  background: #86bc42;
  border: none; }
  .footer-container form button i {
    color: white;
    text-align: center;
    display: inline-block;
    margin-left: 5px; }

div.social-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; }

.social-footer i {
  margin-right: 20px;
  margin-top: 10px;
  font-size: 24px; }

.social-footer .fa-facebook-official {
  color: #3b5999; }

.social-footer .fa-twitter-square {
  color: #0084b4; }

.social-footer .fa-instagram {
  color: #964B00; }

.social-footer .fa-google-plus-square {
  color: #dd4b39; }

.foot-nav {
  width: 100%;
  background-color: #111111;
  padding: 30px 0 50px; }

.foot-nav ul {
  margin: 0;
  padding: 0;
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  float: left;
  list-style-type: none; }

.foot-nav ul li a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  margin-right: 10px;
  font-size: 12px;
  font-weight: 100; }
  .foot-nav ul li a:hover {
    color: #86bc42; }

.foot-nav p {
  color: white;
  margin: 0;
  font-size: 12px;
  float: right; }
  .foot-nav p span {
    margin: 0 5px; }
